body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}



#game-screen {
	width: 1024px;
	height: 640px;
	background-color: #e2e4e4;
	position: relative;
}

#game-screen > * {
	position: absolute;
}

#game-screen h2, #game-menu-buttons {
	font-family: 'Pacifico', cursive;
	font-size: 23px;
}



#wall {
	height: 202px;
	width: 100%;
	background-color: #92ae86;
	border-bottom: 6px solid #6f8862;
}

#window-row {
	margin: 0 -2px;
}

#wall img {
	position: relative;
	top: 8px;
	margin: 0 32px;
}



#game-stats {
	top: 254px;
}

.game-stat-bg {
	color: #e2e4e4;
	background-color: #815433;
	height: 105px;
	width: 226px;
	margin-bottom: 24px;
	position: relative;
}

.game-stat-bg > * {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	margin: 0;
}

#game-menu-buttons {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #959595
}

#game-menu-buttons span {
	cursor: pointer;
}

#game-menu-buttons span:hover {
	color: white;
}



table {
	height: 100%;
	right: 0px;
}

th {
	height: 152px;
}

th, td {
	width: 238px;
	position: relative;
	overflow: hidden;
}

.desk {
	position: absolute;
	top: 0;
}

.mole {
	position: absolute;
	bottom: -15px;
	left: 23px;
	transition: transform 2s;
}

.mole-hide {
	transform: translate3d(0,150px,0);
}